# nix
result
.nixos-test-history

# nixago: ignore-linked-files
/lefthook.yml
/.editorconfig
/.conform.yaml
/treefmt.toml
# nixago-auto-created: mdbook-build-folder
docs/build/**

# prj spec
/.config
/.cache
/.data
/.run
/.bin

# template development
/workbench
